body { 
    background: #222;
}

canvas {
    margin: 0;
    max-width: 100%;
    border-radius: 3px;
}

canvas:active { 
    cursor: pointer;
    cursor: -webkit-grabbing;
}

#canvas-container {
    margin: 0px 0;
}

#game-overlay {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
}
