html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

.r {
  border-right: 4pt solid black;
}
.b {
  border-bottom: 4pt solid black;
}

.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}