.r {
  border-right: 4pt solid black;
}
.b {
  border-bottom: 4pt solid black;
}

.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
  padding:0 5px 0 5px;
}

.help-tip {
	position: absolute;
  bottom:5px;
  left: 5px;
  z-index:10;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 22px;
	line-height: 42px;
	cursor: default;
}
.help-tip:before {
	content:'?';
	font-weight: bold;
	color:#fff;
}
