html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

.r {
  border-right: 4pt solid black;
}
.b {
  border-bottom: 4pt solid black;
}

.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}

@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

td {
    padding:0 5px 0 5px;
}

.r {
  border-right: 1pt solid black;
}
.t {
  border-top: 1pt solid black;
}

.l {
  border-left: 1pt solid black;
}

.b {
  border-bottom: 1pt solid black;
}
.white_t{
	border-top: 1pt solid black;
}

.white_b{
	border-bottom: 1pt solid black;
}
.white_l{
	border-left: 1pt solid black;
}
.white_r{
	border-right: 1pt solid black;
}
.slowlyAppear {
    animation-name: toRed;
    animation-duration: 4s;
}
.blink {
  animation: black-blink 4s infinite;
  -webkit-animation: black-blink 4s infinite;
}
.shadow{
	box-shadow: 5% 5% 5% #888888;
}
.transition{
	transition: background-color 2s;
}
@keyframes toRed{
    from {background-color: #E8E8E8;}
    to {background-color: #FF3399;}
}

@keyframes black-blink {
  50% {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -webkit-box-shadow:0 0 18px #4C0000;
  }
}
@-webkit-keyframes black-blink {
  50% {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    -webkit-box-shadow:0 0 18px #4C0000;
  }
}


/* TODO only for development */
#grid {
    width: 120px;
    height: 120px;        
}

/* TODO modify to display shapes */
.cell {
    outline: 1px solid blue;
    float: left;
    height: 24px;
    width: 24px;    
}
