<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Drag-n-drop example</title>
  <meta name="description" content="Drag-n-drop example">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/ngDraggable.js"></script>
  <script>
  angular.module('myApp', ['ngDraggable'])
    .controller('Ctrl', function ($scope, $log, scaleBodyService) {
      $scope.board = [['','',''],['','',''],['','','']];
      $scope.notifications = "Nothing was dragged";

      $scope.onDropComplete = function (data, event, row, col) {
        $log.info("onDropComplete happened!", arguments);
        $scope.notifications = "Dropped piece " + data + " in " + row + "x" + col;
      };

      // This causes drag-n-drop to NOT work:
      // scaleBodyService.scaleBody({width: 300, height: 300});
    });
  </script>
  <script src="http://yoav-zibin.github.io/emulator/scaleBodyService.js"></script>
  <style>
  .cell {
    background-color: red;
    width: 50px;
    height: 50px;
  }
  </style>
</head>
<body ng-cloak ng-controller="Ctrl"
    style="height:100%; width:100%; overflow: hidden;">

  {{notifications}}

  <table border="1">
    <tr ng-repeat="row in board track by $index">
      <td ng-repeat="col in row track by $index"
          class="cell"
          ng-drop="true"
          ng-drop-success="onDropComplete($data,$event,$parent.$index,$index)">
        <div>
          {{col}}
        </div>
      </td>
    </tr>
  </table>
<br>
    <div ng-drag="true" ng-drag-data="1">Piece1</div>
    <div ng-drag="true" ng-drag-data="2">Piece2</div>
<br>

</body>
</html>
