table {
  border-collapse: collapse;
}
body {
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}
.cell {
  text-align:center;
  vertical-align: middle;
  font-family: "Helvetica";
  font-size: 30pt;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0px;
  padding: 0px;
}
.r {
  border-right: 3pt solid black;
}
.b {
  border-bottom: 3pt solid black;
}

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}
