<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TicTacToe</title>
  <meta name="description" content="TicTacToe game with dragging">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/ngDraggable.js"></script>
  <script>
  angular.module('myApp', ['ngDraggable'])
    .controller('DragCtrl', function ($scope, $log, scaleBodyService, $interval) {
      $scope.counterA = 0;
      $scope.counterB = 0;
      $scope.counterC = 0;
      $interval(function () {
        $scope.counterA++;
      }, 4000);
      $interval(function () {
        if (!document.hidden && !document.mozHidden && !document.msHidden && !document.webkitHidden && window.document.hasFocus()) {
          $scope.counterC++;
        }
      }, 4000);
      setInterval(function () {
        $scope.counterB++;
      }, 1000);
      $scope.notifications = "Nothing was dragged";

      $scope.onDropComplete = function (data, event, row, col) {
        $log.info("onDropComplete happened!", arguments);
        $scope.notifications = "Dropped " + data + " in " + row + "x" + col;
        $scope.cellClicked(row, col);
      };
    })
    .service('scaleBodyService', function() {
      this.scaleBody = function () {}; // Fake scaleBodyService because scaling and drag-n-drop don't work together
    });
  </script>

  <script src="game.js"></script>
  <script src="gameLogic.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <link rel="stylesheet" type="text/css" href="size1000x1000.css">
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-cloak ng-controller="Ctrl">

  <div
      style="width:980px; height:980px; border: 5px solid black; background-color:yellow;">
  <div ng-controller="DragCtrl"
      style="width:500px; height:500px; border: 5px solid red; background-color:yellow;">

    Drag either P1 or P2 into an empty cell ($interval: {{counterA}}, $interval (only when not hidden): {{counterC}}, setInterval: {{counterB}})
    <table border="1">
      <tr>
        <td ng-drag="true" ng-drag-data="1" class="cell">
          <div>P1</div>
        </td>
        <td ng-drag="true" ng-drag-data="2" class="cell">
          <div>P2</div>
        </td>
      </tr>
    </table>
        {{notifications}}

    <table>
      <tr ng-repeat="row in [0, 1, 2]">
        <td ng-repeat="col in [0, 1, 2]"
          ng-class="{cell: true, r: col < 2, b: row < 2}"
          ng-drop="true"
          ng-drop-success="onDropComplete($data, $event, row, col)">
          <!-- {{$parent.$index}} {{$index}} -->
          <div ng-class="{slowlyAppear: shouldSlowlyAppear(row, col)}">
            {{board[row][col]}}
          </div>
        </td>
      </tr>
    </table>

  </div>
  </div>

</body>
</html>
