<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TicTacToe</title>
  <meta name="description" content="TicTacToe game">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <script>
    angular.module('myApp', []);
  </script>
  <script src="gameLogic.js"></script>
  <script src="game.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-cloak ng-controller="Ctrl">

    <script>
    function getJsonFromUrl() {
      if (!location.search || location.search == "") {
        return {};
      }
      var query = location.search.substr(1);
      var result = {};
      query.split("&").forEach(function(part) {
        var item = part.split("=");
        result[item[0]] = decodeURIComponent(item[1]);
      });
      return result;
    }
    function makeAjaxCall(url, callback) {
    	var xmlhttp = new XMLHttpRequest();
    	xmlhttp.onreadystatechange = function() {
    	  if (xmlhttp.readyState==4 && xmlhttp.status==200) {
    	    var responseText = xmlhttp.responseText;
    	    var response = JSON.parse(responseText);
          console.log(response);
    	    callback(response);
        }
    	};
    	xmlhttp.open("GET", url, true);
    	xmlhttp.send();
    }

    function testFbAPI(access_token) {
      makeAjaxCall(
        "https://graph.facebook.com/v2.2/me?format=json&method=get&pretty=0&suppress_http_code=1&access_token="
          + access_token,
        function(response) {
          alert('Successful login for: ' + response.name);
        }
      );
    }

    var access_token = getJsonFromUrl().access_token;
    if (access_token) {
      testFbAPI(access_token);
    }
    </script>


  <div ng-repeat="row in [0, 1, 2]">
    <div ng-repeat="col in [0, 1, 2]"
      class="square"
      ng-click="cellClicked(row, col)">
      <div ng-class="{content: true, r: col < 2, b: row < 2}">
        <img ng-class="{piece: true, slowlyAppear: shouldSlowlyAppear(row, col)}"
          ng-show="shouldShowImage(row, col)"
          ng-src="{{getImageSrc(row, col)}}">
      </div>
    </div>
  </div>

</body>
</html>
