<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>TicTacToe</title>
  <meta name="description" content="TicTacToe game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.4.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>
<div id="gameArea">
  <div ng-repeat="row in [0, 1, 2, 3]"
      style="position:absolute; top:{{row * 25}}%; left:0; width:100%; height:25%;">
    <div ng-repeat="col in [0, 1, 2, 3]"
        style="position:absolute; top:0; left:{{col * 25}}%; width:25%; height:100%;"
        ng-class="{r: col < 3, b: row < 3}"
        ng-click="game.cellClicked(row, col)"
        id="{{'e2e_test_div_' + row + 'x' + col}}">
      <div style="width:100%; height: 100%"
		  ng-class="{slowlyAppear: game.shouldSlowlyAppear(row, col)}"
          ng-style="game.getCellStyle(row, col)"
          ng-if="game.shouldShowImage(row, col)">
		<!--<svg ng-if="game.isShow(row, col)" width="100%" height="100%">
          <circle cx="50%" cy="50%" r="27%"
			stroke="white" stroke-width="5%" fill="{{game.getColor(row, col)}}" />
		</svg>-->
		<svg ng-if="game.isPlayer0(row, col)" width="100%" height="100%">
			<rect width="100%" height="100%" fill="red" />
          <circle cx="50%" cy="50%" r="27%"
			stroke="white" stroke-width="5%" fill="{{game.getColor(row, col)}}" />
		</svg>
		<svg ng-if="game.isPlayer1(row, col)" width="100%" height="100%">
			<rect width="100%" height="100%" fill="blue" />
          <circle cx="50%" cy="50%" r="27%"
			stroke="white" stroke-width="5%" fill="{{game.getColor(row, col)}}" />
		</svg>
      </div>
    </div>
  </div>
</div>

</body>
</html>
