<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Blokus</title>
	<meta name="description" content="TicTacToe game">
	<link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
	<!-- Suppress browser request for favicon.ico -->

	<!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
	<!-- build:[href] css/everything.min.css -->
	<link rel="stylesheet" type="text/css" href="css/game.css">
	<!-- /build -->

	<!-- build:js js/everything.min.js -->
	<script src="lib/angular.js"></script>
	<script src="lib/turnBasedServices.4.js"></script>
	<script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
	<script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
	<script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>

	<!-- scroolbars -->
	<!--link href="lib/ng-scrollable.min.css" rel="stylesheet">
	<script src="lib/ng-scrollable.min.js"></script-->
	<!-- /build -->
</head>

<body ng-cloak>
	<!--div id="grid">
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
		<div class="cell"></div>
	</div-->

	<div id="gameArea">
		<div id="boardArea" style="position:absolute; top:0; left:0; width:100%; height:70%">
			<div ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]" style="position:absolute; top:{{row * 5}}%; left:0; width:100%; height:5%;">
				<div ng-repeat="col in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]" style="position:absolute; top:0; left:{{col * 5}}%; width:5%; height:100%;"
				 ng-class="{l: true, t: true, r: col === 19, b: row === 19, blink:newlyPlaced(row, col)}" ng-style="game.setBoardAreaSquareStyle(row, col)"
				 id="{{'e2e_test_board_div_' + row + 'x' + col}}">
				</div>
			</div>
			<!-- draw lines -->
			<svg id="boardDraggingLines" width="100%" height="100%" style="display:none;position:absolute; z-index: 60;">
				<line id="boardHorizontalDraggingLine" x1="0" y1="12.5%" x2="100%" y2="12.5%" stroke="grey" stroke-width="0.4%" />
				<line id="boardVerticalDraggingLine" y1="0" x1="12.5%" y2="100%" x2="12.5%" stroke="grey" stroke-width="0.4%" />
			</svg>
		</div>

		<!--div ng-scrollable="{scrollX:'bottom',scrollY:'none'}" style="position:absolute; top:71%; left:0; width:100%; height:21%">
			<img src="http://echa.github.io/ng-scrollable/assets/dumbo.jpg"/-->
		<div id="shapeArea" style="position:absolute; top:71%; left:0; width:108%; height:21%; overflow: scroll">
			<div ng-repeat="row in [0, 1, 2, 3, 4]" style="position:absolute; top:{{row * 18}}%; left:0; width:100%; height:19%;">
				<div ng-repeat="col in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]" style="position:absolute; top:0; left:{{col * 5}}%; width:5%; height:100%;"
				 ng-class="{l: true, t: true, r: col === 25, b: row === 4, blink:newlyPlaced(row, col)}" ng-style="game.setShapeAreaSquareStyle(row, col)"
				 id="{{'e2e_test_shape_div_' + row + 'x' + col}}">
				</div>
			</div>
		</div>
		<!--/div-->

		<div class="buttonArea" ng-hide="game.hidePassButton" style="position:absolute; top:93%; left:0; width:100%; height:7%">
			<button type="button" ng-hide="game.shouldHidePassButton()" ng-click="game.passClicked()" class="{{game.getPassBtnClasses()}}"
			 ng-disabled="!game.isPassBtnEnabled()">PASS</button>
			<button type="button" ng-show="game.showConfirmButton()" ng-click="game.confirmClicked()" class="text confirmBtn">CONFIRM</button>

			<button type="button" ng-show="game.showContinuePlayingOrAgreeButtons()" ng-click="game.continuePlayingClicked()" class="text passBtn continuePlayingBtn">CONT.</button>
			<button type="button" ng-show="game.showContinuePlayingOrAgreeButtons()" ng-click="game.agreeClicked()" class="text confirmBtn">AGREE</button>
		</div>
	</div>
</body>

</html>